.router_link {
    text-decoration: none !important;
    color: black !important;
    font-family: iransans !important;
}


.loading {
    width: 100px;
    height: 100px;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swal2-popup {
    font-size: 0.7rem !important;
    /*display: flex!important;*/
    /*align-items: center!important;*/
    grid-template-rows: min-content;
    padding: 10px !important;

    /*color: #02DCCC !important;*/
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.input_check:checked {*/
/*    background-image: url(../img/Group2472.svg);*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    !* background-color: #02DCCC; *!*/
/*    !* margin: 2px; *!*/
/*}*/

.input_check {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    width: 20px;
    height: 20px;
    border: 0.5px solid #02DCCC;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 2px;
}

.whiteback {
    display: none;
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    /*backdrop-filter: blur(2px); !* Chrome and Opera *!*/
}

.blackback {
    display: none;
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    /*backdrop-filter: blur(3px); !* Chrome and Opera *!*/
}

.blackbackedit {
    display: none;
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    backdrop-filter: blur(2px); /* Chrome and Opera */
}

.basket_buy {
    width: 95%;
    padding: 5px;
    z-index: 10;
}



